.bg-pink {
    background: url('../images/line.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-pink{
    background: #EB6EA5;
    color: #FFF;
}

.text-pink {
    color: #EB6EA5;
}

.inner a:hover{
	color: #EB6EA5;
	text-decoration: none;
}

.inner a:visited{
	color: #EB6EA5;
	text-decoration: none;
}

.simply-countdown-one {
    margin-bottom: 30px;
    /* float: left; */
    width: 100%;
}

.simply-countdown-one .simply-section {
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.simply-countdown-one .simply-section:last-child {
    margin-right: 0;
}

.simply-countdown-one .simply-section .simply-amount {
    font-size: 100px;
    color: #EB6EA5;
    display: block;
    font-weight: 800;
    line-height: 100px;
}

@media screen and (max-width: 768px) {
    .simply-countdown-one .simply-section .simply-amount {
        font-size: 30px;
        line-height: 30px;
    }
}

.simply-countdown-one .simply-section .simply-word {
    display: block;
    text-align: left;
    font-weight: 700;
    color: #a7a7a7;
}

.text-brown{
    color:#55050F;
}